{% extends "layout.html" %}

{% block mainnav %}
<ul class="probootstrap-main-nav">
    <li><a href="/index">Home</a></li>
    <li><a href="/product">Product</a></li>
    <li class="active"><a href="/api">API</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>
{% endblock mainnav %}

{% block slider %}
<section class="probootstrap-slider flexslider">
    <ul class="slides">
      <li style="background-image: url(/static/img/api1.jpg);">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="slides-text probootstrap-animate">
                <h2>Voyagr Public APIS</h2>
                <p> We offer self compiled data for anyone who is interested in searching for details of the 150 cities we used to recommend our clients. </p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>
{% endblock slider %}

{% block section1 %}
<section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate">

            <div class="icon">
              <i class="icon-laptop3"></i>
            </div>
            <div class="text">
              <h3 class="heading">Basic City Info</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
              <p><a href="single-page.html">Learn more</a></p>
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate">
            <div class="icon">
              <i class="icon-presentation"></i>
            </div>
            <div class="text">
              <h3 class="heading">Quality of Life</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
              <p><a href="single-page.html">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate">
            <div class="icon">
              <i class="icon-wallet2"></i>
            </div>
            <div class="text">
              <h3 class="heading">Travel Categories</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
              <p><a href="single-page.html">Learn more</a></p>
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate">

            <div class="icon">
              <i class="icon-hourglass"></i>
            </div>
            <div class="text">
              <h3 class="heading">IG User Info</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
              <p><a href="single-page.html">Learn more</a></p>
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate">
            <div class="icon">
              <i class="icon-shield3"></i>
            </div>
            <div class="text">
              <h3 class="heading">Ratings, Reviews & More</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
              <p><a href="single-page.html">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate">
            <div class="icon">
              <i class="icon-adjustments"></i>
            </div>
            <div class="text">
              <h3 class="heading">City Scoreboard</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
              <p><a href="single-page.html">Learn more</a></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock section1 %}

{% block section2 %}
<div class="container">
    <div class="probootstrap-cta probootstrap-animate border-bototm-none">
      <h2 class="mb20">Do you also have a project that involves with cities and travel metrics?</h2>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
      <p><a href="#" role="button" class="btn btn-primary">Get In Touch</a></p>
    </div>
  </div>
{% endblock section2 %}

