{% extends "layout.html" %}

{% block mainnav %}
<ul class="probootstrap-main-nav">
    <li><a href="/index">Home</a></li>
    <li class="active"><a href="/product">Product</a></li>
    <li><a href="/api">API</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>
{% endblock mainnav %}

{% block slider %}
<section class="probootstrap-slider flexslider">
    <ul class="slides">
      <li style="background-image: url(/static/img/product5.jpg);">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="slides-text probootstrap-animate">
                <h4>Ready for the journey {{user}}?</h4>
                <a href='questionnaire/1' class="btn btn-primary"> 
                    Let's Get Started 
                </a>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>
{% endblock slider %}
